body {
    font-family: Arial;
    font-size: 13px;
}
.error-message {
    color: red;
    display:none;
}
input.ng-invalid.ng-dirty + span.error-message {
    display:inline;
}

.items-form {
    width: 100%;
    font-size:14px;
    margin:auto;
    padding-bottom: 1em;
    border: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
    .items-form {
        max-width: 500px;
    }
}
.items-form .item-wrapper {
    margin: auto;
    width:96%;
}
.items-form .item-wrapper label {
    display: block;
    padding: 10px 0;
    font-size: 0.8em;
    font-weight: bold;
}
.items-form .item-wrapper input {
    width:100%;
    font-size: 1.6em;
    border:2px #E1E1E1 solid;
}
.items-form .item-add-btn {
    float: right;
    margin-right: 2%;
    margin-top: 1.5em;
    font-size: 1.5em;
    color: white;
    background-color: #0299c2;
    border: none;
    width: 4.5em;
    padding: 0.3em;
}
.clear-fix {
    clear:both;
}
.items-form .items-form-title {
    margin-top: -10px;
    margin-left: 20px;
    background-color: white;
    width:90px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
#items-table {
    margin: auto;
    width: 100%;
    max-width: 768px;
    text-align: left;
    border-spacing: 0;
    border: 1px solid #E1E1E1;
    border-top: none;
}
#items-table caption {
    font-size: 0.9em;
    font-weight: bold;
    color: #9E9FA1;
    font-family:  serif;
    text-align: left;
    border: 1px solid #E1E1E1;
    border-bottom: none;
    padding: 1em;
}
#items-table td {
    border-top: 1px solid #E1E1E1;
    padding: 1.5%;
}
.order-number{
    font-weight: bold;
}
#items-table tr:nth-child(odd) {
    background-color: #FAFAFA;
}
#items-table tr:hover {
    background-color: #F6F6F6;
}
#items-table .header:hover {
    background-color: white;
}
#items-table th {
    border-bottom: 1px solid #E1E1E1;
    padding: 1.5%;
    text-transform: capitalize;
}
#items-table a,
#items-table a:visited {
    color: #3B90C6;
    text-decoration: none;
}
#items-table a:hover {
    color: #2A5B89;
    text-decoration: underline;
}
#items-table-wrapper {
    margin-top: 30px;
}