<!DOCTYPE html>
<html lang="en" ng-app="staffManagementApp">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <title>Form</title>
    <script language="JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script language="JavaScript" src="/front/bootstrap.js"></script>
    <link rel="stylesheet" href="front/bootstrap.css">
    <script src="https://code.angularjs.org/1.2.14/angular.js"></script>
    <script language="JavaScript" src="/front/staffManagementApp.js"></script>
    <script language="JavaScript" src="/front/addItemFormDirective.js"></script>
    <script language="JavaScript" src="/front/itemsListDirective.js"></script>
    <script language="JavaScript" src="/front/itemsCtrl.js"></script>
    <script language="JavaScript" src="/front/itemsService.js"></script>
    <link rel="stylesheet" href="front/form.css">

</head>
<body ng-controller="itemsCtrl as itemsCtrl">
    <add-item-form></add-item-form>
    <items-list></items-list>
</div>
</body>



</html>


